:root {
    --primary-color: #2563eb;
    --secondary-color: #ff9635;
}

body {
    height: 100vh;
    background:
        radial-gradient(
            circle at 20% 30%,
            rgba(37, 99, 235, 0.6),
            transparent 40%
        ),
        radial-gradient(
            circle at 70% 40%,
            rgba(37, 99, 235, 0.4),
            transparent 30%
        ),
        radial-gradient(
            circle at 50% 70%,
            rgba(37, 99, 235, 0.5),
            transparent 50%
        ),
        linear-gradient(to bottom, #2563eb, white);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 5%;
    position: fixed;
    background-color: transparent;
    border: rgb(65, 63, 63) 1px solid;
    padding: 2vh;
    color: white;
    text-align: center;
}
