body {
    font-family: "PT Serif", serif;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 5%;
    position: fixed;
    background-color: transparent;
    border: rgb(65, 63, 63) 1px solid;
    padding: 2vh;
    color: white;
    text-align: center;
}

